/* SCSS HEX */
$mustard: #F4D13Cff;
$cool-gray: #A1A8C1ff;
$rose-pompadour: #ED7397ff;
$paynes-gray: #595F6Eff;
$almond: #F9E6D5ff;
$dark-goldenrod: #9A8548ff;
$desert-sand: #CBAC9Bff;
$letters_primary: #8c8fbe;
$primary-color:  #551055;
$secondary-color:$mustard;
$font_color_primary: #551055;
$font_color_primary: #a2a1c6;
$btn-input-border-width: 1px;
$btn-input-border-style: solid;
