.nav{
    //display: flex;
   // @include respond-to (desktop) {
    
        width: 100%;
        &__item{
            width: 100px;
        }
        .nav__list{
            display: flex;
            list-style-type: none;
            margin: 0;
            justify-content: space-around;
            
            &-link {
                //display: flex;
                //width: 100px;
                
                text-decoration: none;
                font-variant: small-caps;
                background-color: lighten($color: $font_color_primary, $amount: 80);
                border-radius: 10px 10px;
                padding: 1rem 3rem;
            }
        }
    };

//}

