.nav{
    //display: flex;
    @include respond-to (desktop) {
    
        width: 100%;
        .nav__list{
            display: flex;
            list-style-type: none;
            margin: 0;
            justify-content: space-around;
            &-link {
                text-decoration: none;
                font-variant: small-caps;
                background-color: lighten($color: $font_color_primary, $amount: 80);
                border-radius: 10px 10px 0 0;
                padding: 0.5rem 2rem;
            }
        }
    };

}

