
.main__sidebar{
    background-color: white;
    display: flex;
    
    .sidebar__menu{
        width: 35%; // averiguar si es correcto
        
        text-align: center; // centro el titulo
            .sidebar__list {
                padding: 0;
                text-align: left; // izq los items
                .sidebar__item{
                    list-style: none;
                    padding: 0.2rem ;
                    margin-bottom: 0px;
                    
                    .sidebar__link{
                        display: block;
                        text-decoration: none;
                        background-color: $secondary-color;
                        width: 80%;
                        color: white;
                        
                        padding: 10px;

                        &:hover{
                            background-color: $primary-color;
                        }
                        
                        
                    }
                }
            }
        }    
}

.sidebar__card{
    
    
    padding: .5rem;

    display: flex;
    border: 1px solid pink;
//    overflow: hidden;
    width: 90%;
    border-radius: 0 7px 7px 0;
    
    align-items: center;
 
    &-p{
        padding: 0.5rem;
        display: flex;
        font-size: 0.8rem;
        text-transform: capitalize;
        text-align: center;
    }
    &-img{
         width: 8vw;
         overflow: hidden;
         @include respond-to (mobile) {

            display:none;
            }
    
      }


}


