*{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
}
body
{
    margin: auto;
    width: 70vw;
    background-image: linear-gradient($almond 35%, $desert-sand 70%);
    
}
